.footer__socialIcons {
    color: #0E0E52;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer {
    background: var(--background-color, #FAFAFF);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 470px) {
    .footer__copyright {
        display: flex;
        align-items: center;
    }

    .footer__socialIcons {
        margin-right: 5px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 900px) {
    .footer__links {
        margin-right: 20px;
    }
    .footer__socialIcons {
        padding-top: 5px;
        margin-right: 10px;
    }
}